*{
    margin: 0;
    padding: 0;
}

body{
    background: black;
}

a{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    height: 100px;
    background: white;
    text-align: center;
    line-height: 100px;
    color: #90c;
    text-decoration: none;
    border-radius: 50px;
    background: linear-gradient(to right,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 500%;

}

a:hover{
    animation: liuguang 7s linear infinite;
}

a::after{
    content: '';
    position: absolute;
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    background: white;
    border-radius: 55px;
    z-index: -1;
    background: linear-gradient(to right,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 500%;
}

a:hover::after{
    animation: liuguang 7s linear infinite;
    filter: blur(10px);
}

@keyframes liuguang{
    100%{
        background-position: 500% 0;
    }
}