*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    display:flex;
    justify-content: center;
    align-items: center;
    transform: scale(2);
}

ul li{
    width: 60px;
    height: 60px;
    margin: 0 30px;
    position: relative;
    transform: rotate(-30deg) skew(25deg);
}

ul li span{
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 0.5s;
}

ul li:hover span:nth-child(5){
    transform: translate(40px,-40px);
    opacity: 1;
}

ul li:hover span:nth-child(4){
    transform: translate(30px,-30px);
    opacity: 0.8;
}

ul li:hover span:nth-child(3){
    transform: translate(20px,-20px);
    opacity: 0.6;
}

ul li:hover span:nth-child(2){
    transform: translate(10px,-10px);
    opacity: 0.4;
}

ul li:hover span:nth-child(1){
    transform: translate(0,0);
    opacity: 0.2;
}

ul li:nth-child(1) span{
    background: rgb(23, 104, 34);
}

ul li:nth-child(2) span{
    background: rgb(224, 192, 7);
}




